$main_background: black;
$main_red: #e5150b;
$main_green: #77b628;
$glass_card_background: rgba(66, 66, 66, 0.34);

$glass_item_background: rgba(255, 255, 255, 0.1);
$glass_item_background_focused: rgba(255, 255, 255, 0.2);
$glass_item_background_disabled: rgba(255, 255, 255, 0.05);

$error_glass_item_background: rgba(255, 0, 0, 0.4);
$error_glass_item_background_focused: rgba(255, 0, 0, 0.5);
$error_glass_item_background_disabled: rgba(255, 0, 0, 0.2);

$success_glass_item_background: rgba(0, 255, 0, 0.2);
$success_glass_item_background_focused: rgba(0, 255, 0, 0.3);
$success_glass_item_background_disabled: rgba(0, 255, 0, 0.1);


$text_color: #fafafa;
$text_color_disabled: #b3b3b3;
$subheader_color: #fafafaa9;
$placeholder_color: #b3b3b3;

$error_text_color: rgba(255, 0, 0, 1);
$error_placeholder_color: rgba(255, 0, 0, 0.8);

