$border_radius: 20px;
$input_padding: 24px;
$button_padding: 12px;
$blur: blur(9px);
$glass_border_color: rgba(255, 255, 255, 0.2);
$glass_border: 1px solid $glass_border_color;
$transition: ease-in-out 0.3s;

$shadow_l1: 0 4px 30px rgba(0, 0, 0, 0.1);
$shadow_l2: 0 4px 30px rgba(0, 0, 0, 0.4);

$mobile_width: 720px;

$icon_button_padding: 6px;
$desktop_form_width: 370px;

